@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background: linear-gradient(to bottom, #e1b382, #c89666, #2d545e, #12343b);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black; /* Adjust text color for better readability */
}

/*
.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}*/


/*
.slider {
    background: url('IMG/grizzly.jpg') center/cover no-repeat;
    height: 300px;
    position: relative;
}
*/
#szamlalo{
    float: right;
}



.event-card {
    margin-bottom: 20px;
}

.kartya-kep {
    
    height: 150px;
    
}

.slide-kep{
    height: 500px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.dagat{
    font-weight:600;
}
/*
.button-19 {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }
  
  .button-19:active {
    border-width: 4px 0 0;
    background: none;
  }
*/


  .autocomplete-list {
    position: absolute;
    border: 1px solid #ddd;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1050; /* Higher than Bootstrap modal's z-index */
    width: 93.5%;
  }
  
  .autocomplete-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }


.mini-label{
  font-size: 93%;
  font-style: italic;
}


body, html {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-direction: column; /* Stacks children vertically */
}

main {
  flex: 1; /* Makes the main content take up the available space */
}

footer {
  flex-shrink: 0; /* Ensures the footer stays at the bottom */
  width: 100%;
}


/*Kartya-design*/
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
  flex-grow: 1;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.modal-desc {
  max-height: 150px;
  overflow-y: auto;
}

/*Login design*/
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.custom-button:active {
  background-color: #004085;
  transform: scale(0.95);
}

/*Create event design*/
.create-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.create-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.create-button:active {
  background-color: #1e7e34;
  transform: scale(0.95);
}